replicaCount: 2
image:
  repository: docker.io/scamlux3221/inventory-service
  tag: latest
service:
  port: 8003
  targetPort: 8003
resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 250m
    memory: 256Mi
autoscaling:
  enabled: true
  minReplicas: 2
  maxReplicas: 8
env:
  - name: NODE_ENV
    value: production
  - name: PORT
    value: "8003"
  - name: DB_HOST
    value: postgres-service
  - name: DB_NAME
    value: inventory_db
  - name: KAFKA_BROKERS
    value: kafka-service:9092
  - name: KAFKA_TOPIC_ORDERS
    value: orders
  - name: MONGO_URL
    valueFrom:
      secretKeyRef:
        name: mongodb-credentials
        key: connection-string
livenessProbe:
  httpGet:
    path: /health
    port: 8003
  initialDelaySeconds: 30
readinessProbe:
  httpGet:
    path: /health
    port: 8003
  initialDelaySeconds: 10
