name: CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      # 1. Checkout
      - name: Checkout repository
        uses: actions/checkout@v4

      # 2. Setup Node
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      # 3. Install dependencies (CI)
      - name: Install dependencies
        run: |
          cd services/order-service && npm install
          cd ../inventory-service && npm install
          cd ../payment-service && npm install
          cd ../query-service && npm install

      # 4. Docker login
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # 5. Build & push images
      - name: Build and push Docker images
        run: |
          docker build -t scamlux3221/order-service:${{ github.sha }} services/order-service
          docker push scamlux3221/order-service:${{ github.sha }}

          docker build -t scamlux3221/inventory-service:${{ github.sha }} services/inventory-service
          docker push scamlux3221/inventory-service:${{ github.sha }}
          docker build -t scamlux3221/payment-service:${{ github.sha }} services/payment-service
          docker push scamlux3221/payment-service:${{ github.sha }}

          docker build -t scamlux3221/query-service:${{ github.sha }} services/query-service
          docker push scamlux3221/query-service:${{ github.sha }}

      # 6. Autodeploy (simulation)
      - name: Auto deploy (pull & up)
        env:
          TAG: ${{ github.sha }}
        run: |
          echo "Deployment version: $TAG"
