name: CI - api-gateway

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build & Push api-gateway
        run: |
          docker build -t ghcr.io/scamlux/api-gateway:${{ github.sha }} services/api-gateway
          docker push ghcr.io/scamlux/api-gateway:${{ github.sha }}